<!DOCTYPE html>
<html lang="en">
  {% set page_title = "ICLR 2020 - Events" %}
  {% include 'pages/head.html' %}
  <body>
    <!-- NAV -->
    {% set active_page = "Events" %}
    {% include 'pages/header.html' %}
    <div class ="container">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item"><a class="nav-link active text-muted" href="#tab-workshops" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Workshops</a></li>
        <li class="nav-item"><a class="nav-link text-muted" href="#tab-socials" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Socials</a></li>
        <li class="nav-item"><a class="nav-link text-muted" href="#tab-speakers" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Speakers</a></li>
        <li class="nav-item"><a class="nav-link text-muted" href="#expos" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Expos</a> </li>
      </ul>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane active" id="tab-workshops" role="tabpanel" aria-labelledby="nav-profile-tab">
          <!-- Workshops -->
          <div class="border-top my-3"></div>
          <div class="row p-4" id="workshops">
            <div class="col-12 bd-content ">
              <h2 class="text-center"> Workshops </h2>
            </div>
          </div>
          <div class ="container">
            <div class="cards row">
              {% for workshop in workshops %}
              <div class="col-md-6 col-sm-12 p-3" style="display: flex;flex-flow:wrap; margin-left:0; box-sizing: border-box;">
                <div class="card" style="display:block; overflow:hidden; width:100%;">
                  <div class="card-header text-center" style="min-height: 150px; width:100%;">
                    <a class="text-muted" href="workshops_{{loop.index}}.html">
                      <h3 class="card-title">
                        {{workshop.name}}
                      </h3>
                    </a>
                    <div class="card-subtitle text-muted">
                      {{workshop.organizers}}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Socials -->
        <div class="tab-pane fade" id="tab-socials" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="border-top my-3"></div>
          <div class="row p-4" id="socials">
            <div class="col-12 bd-content ">
              <h2 class="text-center"> Socials </h2>
            </div>
          </div>
          <div class ="container">
            <div class="cards row">
              {% for social in socials %}
              <div class="col-md-6 col-sm-12 p-3" style="display: flex;flex-flow:wrap; margin-left:0; box-sizing: border-box;">
                <div class="card" style="display:block; overflow:hidden; width:100%;">
                  <div class="card-header text-center" style="min-height: 150px; width:100%;">
                    <a class="text-muted" href="workshops_{{loop.index}}.html">
                      <h3 class="card-title">
                        {{social.name}}
                      </h3>
                    </a>
                    <div class="card-subtitle text-muted">
                      {{social.organizers}}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Speakers -->
        <div class="tab-pane fade" id="tab-speakers" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="border-top my-3"></div>
          <div class="row p-4" id="speakers">
            <div class="col-12 bd-content " >
              <h2 class="text-center"> Speakers </h2>
            </div>
          </div>
          <div class ="container">
            {% for speaker in speakers %}
            <div class="row">
              <div class="col-12 m-3 ">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-2 col-sm-5">
                        <img src="{{speaker.image}}"  width="100%" class="img-thumbnail">
                      </div>
                      <div class="col-md-10 col-sm-6">
                        <div class="m-3 text-muted ">
                          <span class="card-title h3" >
                          {{speaker.speaker}}
                          </span>
                          <span>
                          {{speaker.institution}}
                          </span>
                        </div>
                        <div class="m-3 text-muted ">
                          <h3>
                            {{speaker.title}}
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include 'pages/footer.html' %}
  </body>
</html>