<!doctype html>
<html lang="en">

{% set page_title = "ICLR 2020 - FAQ" %}
{% include 'pages/head.html' %}

<body>
  <!-- NAV -->
  {% set active_page = "FAQ" %}
  {% include 'pages/header.html' %}

  <div class="container">

    <ul class="nav justify-content-center">
      <li class="nav-item"><a class="nav-link" href="#faq">Frequently Asked Questions</a></li>
      <li class="nav-item"><a class="nav-link" href="#chat">Tech Support</a></li>
    </ul>


    <!-- FAQ -->
    <div class="border-top my-3"></div>

    <div class="row p-4" id="faq">
      <div class="col-12 bd-content ">
        <h2 class="text-center"> Frequently Asked Questions </h2>
      </div>
    </div>

    {% for section in FAQ %}
    <div class="row p-3">
      <div class="col-12 bd-content">
        <h3 class=""> {{section.Section}} </h3>
      </div>
    </div>
    {% set rowloop = loop.index %}

    {% for qa in section.QA %}
    <div class="row">

      <div class="col-12" id="accordionExample">
        <div class=" card m-2"  >
          <div class="card-header" >
              <a class="" href="#" data-toggle="collapse" data-target="#collapse{{rowloop}}-{{loop.index}}" aria-expanded="true" aria-controls="collapse{{rowloop}}-{{loop.index}}">
                {{qa.Question}}
              </a>
          </div>

          <div id="collapse{{rowloop}}-{{loop.index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{qa.Answer}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>


  <!-- Help -->

    <div class="border-top my-3"></div>

    <div class="row p-4" id="chat">
      <div class="col-12 bd-content ">
        <h2 class="text-center"> Tech Support </h2>
      </div>
    </div>

  <div class="container">
    <!-- <div class="row p-3"> -->
    <!--   <div class="col-12 bd-content"> -->
    <!--     <h3 class="">Chat for Help</h3> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="slp">
      <center>
        <iframe frameborder="0" src="https://iclr.rocket.chat/channel/tech-support?layout=embedded" width="100%" height="680px"></iframe>
      </center>
    </div>
  </div>
  {% include 'pages/footer.html' %}
</body>
