<!DOCTYPE html>
<html lang="en">
  {% set page_title = "ICLR 2020" %}
  {% include 'pages/head.html' %}


  <body>
    <!-- NAV -->
    {% set active_page = "Home" %}
    {% include 'pages/header.html' %}

    <div class="jumbotron jumbotron-fluid" style="background: url('static/mount.jpg') no-repeat fixed center; background-size: auto;">
      <div class="container">

        <div class="row">
          <div class="p-2 mx-auto text-center text-white">
            <img src="static/ICLR-logo-white.png"/>
          </div>
        </div>
        <div class="row header">

          <div class="p-1 mx-auto text-center text-white col-5">
            <h1 class="">
            EIGHTH
            INTERNATIONAL
            CONFERENCE IN
            LEARNING
            REPRESENTATIONS
            </h1>


            <h3 class="p-3" >
              26 – 30 April 2020
            </h3>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
