<!DOCTYPE html>
<html lang="en">
  {% set page_title = "ICLR 2020" %}
  {% include 'pages/head.html' %}
  <style>
    .back {
    background: url('static/images/mount2.jpg') no-repeat center;
    background-size: cover;
    }
    .back h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    }
    dd {
    display: block;
    margin-left: 1em;
    }
  </style>
  <body>
    <!-- NAV -->
    {% set active_page = "Home" %}
    {% include 'pages/header.html' %}
    <div class="  " >
    <div class="jumbotron jumbotron-fluid back" style="padding-bottom:20px">
      <div class="row mx-auto text-center" >
        <!-- <div class="mx-auto text-center text-white" > -->
        <center class="mx-auto">
          <img src="static/images/ICLR-logo-white.png"  width="90%"/>
        </center>
        <!-- </div> -->
      </div>
      <div class=" row header p-6 m-5">
        <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12" >
          <h2>
            EIGHTH <br />
            INTERNATIONAL<br />
            CONFERENCE ON<br />
            LEARNING<br />
            REPRESENTATIONS
          </h2>
          <h2 class="p-5" >
            26 – 30 April 2020
          </h2>
        </div>
      </div>
      <p style="float:right; font-size:12px;" class="text-white header " >Simien Mountains, Ethiopia <a href="https://www.flickr.com/photos/52926167@N00/3962440126">Hulivili</a> </p>
    </div>
    <div class="container " >
      <!-- Getting Started -->
      <div class="getting_started">
        <div class="row p-4">
          <div class="col-12 bd-content ">
            <a href="calendar.html#tab-Tuesday"><h2 class="text-center" > Today's Live QAs and Poster Sessions </h2></a>
          </div>
        </div>
        <div class=" my-4"></div>
        <div class="row p-4 border-top"></div>

        <div class="row p-4 ">
          <div class="col-12 bd-content ">
            <h2 class="text-center"> Getting Started </h2>
          </div>
        </div>
        <div class="row p-4">
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p>Welcome to ICLR2020! The conference comprises the following elements:</p>
            <dl>
              <dt>Keynote talks</dt>
              <dd>Invited talks are pre-recorded and will be released each day. Each talk has a live Q&A session so we can interact in real-time with the speakers.</dd>
              <dt>Papers</dt>
              <dd>5 minute talks take the place of posters for all <a class="text-muted" href="papers.html">papers</a> and 15 minutes for longer talks. All are pre-recorded and are also released each day.</dd>
              <dt>Poster Sessions</dt>
              <dd>You interact with posters by joining a video meeting with the authors. These occur at timezones across the world and several times per day.</dd>
              <dt>Chat</dt>
              <dd>You can interact with the authors of the papers through our chat server. Please go to <a class="text-muted" href="https://iclr.rocket.chat/">iclr.rocket.chat</a> and click "Forgot your password" to get a temporary password. If you registered for the conference late, join Rocket.Chat by clicking the <a class="text-muted" href="https://iclr.rocket.chat/register/J5aqNDEumaRLKP67d">invite link</a>.</dd>
              <dt>Socials</dt>
              <dd>You can also meet new people and other participants by using the virtual rooms and <a class="text-muted" href="socials.html">socials</a> that are organised throughout the week.</dd>
              <dt>Schedule</dt>
              <dd>You can find the times for all the live sessions using the <a class="text-muted" href="calendar.html">Schedule</a>, where you can choose your timezone and find live sessions that work for you.</dd>
              <dt> Sponsors</dt>
              <dd>Meet our sponsors by visiting the <a class="text-muted" href="https://iclr.6connex.com/event/VirtualEvent/">virtual sponsor hall</a>.</dd>
              <dt> Help</dt>
              <dd>If you have questions about planning your time or navigating, look under <a class="text-muted" href="about.html">Help</a> for answers to frequently asked questions and technical support.</dd>
              <dt>Site</dt>
              <dd>If you are interested in the conference site,
                check out our <a class="text-muted" href="https://medium.com/@iclr_conf/countdown-to-iclr2020-3cfacd6373ee">blog post</a> and <a class="text-muted" href="https://twitter.com/srush_nlp/status/1253786329575538691">overview</a>.

              </dd>
              <dt> Social Media</dt>
              <dd> Share papers,  workshops, and demos by using the hashtag  <span style="font-weight: bold; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;">#ICLR2020</span></dd>

            </dl>
          </div>
          <div class="col-md-1"></div>
          <div id="presentation-embed" class="col-md-5 col-sm-12 slp embed-responsive embed-responsive-16by9">

          </div>
          <script src='https://slideslive.com/embed_presentation.js'></script>
          <script>
            embed = new SlidesLiveEmbed('presentation-embed', {
            presentationId: '38926792',
            autoPlay: false, // change to true to autoplay the embedded presentation
            verticalEnabled: true,
            verticalWhenWidthLte: 2000,
            allowHiddenControlsWhenPaused: true,
            hideTitle: true
            });
          </script>

        </div>
      </div>
      <!-- Sponsor -->
      <div class="sponsors">
        <div class="border-top my-3"></div>
        <div class="row p-4">
        </div>
        <div class="row p-4" id="organizers">
          <div class="col-12 bd-content ">
            <h2 class="text-center"> Sponsors </h2>
          </div>
        </div>
        <!-- <center> -->
        <!-- <img src="static/images/sponsors.png" width="100%" /> -->
        <!-- </center> -->
        {% for section in sponsors %}
        <div class="row p-3">
          <div class="col-12 bd-content ">
            <h3 class="">
            {{section.tier}} </h2>
          </div>
        </div>
        <div class="row justify-content-start">
          {% set rowloop = loop.index %}
          {% for sponsor in section.vals %}
          <div class="col-md-{{section.size}} col-xs-12 p-2" style="display: flex;flex-flow:wrap; margin-left:0; box-sizing: border-box; border:none;">
            <div class="card "style="display:block; overflow:hidden; width:95%; border:none;">
              <div class="card-header d-flex flex-wrap justify-content-center align-items-center" style="height: {{section.height}}px; background-color:white; border:none;">
                <a  target="_blank" href="https://iclr.6connex.com/event/VirtualEvent/"><img src="{{sponsor.img_src}}" style="width:{{sponsor.size}};" class="sponsorLogo" alt="{{sponsor.name}}" /></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <!-- Organizers -->
      <div class="organizers">
        <div class="row p-4">
        </div>
        <div class="border-top my-3"></div>
        <div class="row p-4" id="organizers">
          <div class="col-12 bd-content ">
            <h2 class="text-center"> Organizers </h2>
          </div>
        </div>
        <div class="row p-4">
        </div>
        <div class="row">
          {% for org in committee %}
          <div class="col-md-4 col-xs-6">
            <div class="pp-card" >
              <div class="pp-card-header" class="text-muted">
                <h5 class="card-title" align="center">{{org.name}}</h5>
                <div>
                  <h6 class="card-subtitle text-muted m-1" align="center">
                    {{org.role}}
                  </h6>
                </div>
                <div>
                  <h6 class="card-subtitle text-muted m-1" align="center">
                    {{org.aff}}{% if org.tw %} / <a class="text-muted" href="http://twitter.com/{{org.tw}}">@{{org.tw}}</a>{% endif %}
                  </h6>
                </div>
                <center>
                  <img src="{{org.im}}" class="rounded" style="height:150px" />
                </center>
              </div>
            </div>
          </div>
          {% endfor %}
          <p class="text-muted">
          The ICLR organizers would like to acknowledge the following volunteers and contributors who provided valuable additional service to the conference:
          {% for vol in volunteers %}
          {{vol}}{{"," if not loop.last }}
          {% endfor %}
          </p>
        </div>

      </div>
    </div>
    {% include 'pages/footer.html' %}
  </body>
</html>
