<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> ICLR: {{keyword}} </title>
</head>

  <body >
    
<!-- NAV -->
{% include 'pages/header.html' %}
<div class="container" style="padding-bottom:20px">
  <h2> Keyword: {{keyword}} </h2>
</div>
<div class="container">

  {% for openreview in openreviews %}

  {% if loop.index % 3 == 1 %}
  <div class="card-deck" style="padding-bottom: 20px">
    {% endif %}
    
    <div class="card" >

        <div class="card-header">
          <a href="poster_{{openreview.content.iclr_id}}.html" class="text-dark"><h4 class="card-title">{{openreview.content.title}}</h4></a>
          <h6 class="card-subtitle mb-2 text-muted">
            {% for author in openreview.content.authors %}
            {{author}},
            {% endfor %}
          </h6>
      
        </div>
        <div class="card-body">

          <p class="card-text"> {{openreview.content.TLDR}}</p>
          <p class="card-text"><span class="font-weight-bold">Keywords:</span>
            {% for keyword in openreview.content.keywords %}
            <a href="keyword_{{keyword}}.html" class="text-secondary text-decoration-none">{{keyword.lower()}}</a>,
            {% endfor %}
          </p>    

        </div>

        
        <div class="card-footer">
          
          <center>
            <a href="poster_{{openreview.content.iclr_id}}.html" class="btn btn-primary">Visit</a>
            <!-- <a class="card-link"  href="http://www.openreview.net{{openreview.content.pdf}}">Paper</a> -->
            <!-- <a href="{{openreview.content.code}}" class="card-link">Code</a> -->
            <!-- <a href="{{openreview.content.slides}}" class="card-link">Slides</a> -->
          </center>
        </div>
    </div>
  
  
  {% if loop.index % 3 == 0 %}
      </div>      
  {% endif %}

  <!-- <div class="container"></div> -->
  {% endfor %}
</div></div>
</body>
