<!doctype html>
<html lang="en">
  {% set page_title = "ICLR: " + openreview.content.title %}
  {% include 'pages/head.html' %}


  <body >

<!-- NAV -->
{% include 'pages/header.html' %}


<div class="container">

 <!-- Title -->

 <div class="pp-card m-3" style="">
   <div class="card-header">
     <h2 class="card-title main-title text-center" style="">
       {{openreview.content.title}}
     </h2>

     <h3 class="card-subtitle mb-2 text-muted text-center">
       {% for author in openreview.content.authors %}
       {{author}}{{ "," if not loop.last }}
       {% endfor %}
     </h3>



     <div class="text-center p-3">
       <a class="card-link" data-toggle="collapse" role="button" href="#details">
           Abstract
       </a>

       <a class="card-link"  target="_blank" href="http://www.openreview.net{{openreview.content.pdf}}">
           Paper
       </a>
       {% if openreview.content.code != blank %}
       <a href="{{openreview.content.code}}" target="_blank"  class="card-link">
           Code
       </a>
       {% endif %}

       <a class="card-link"  target="_blank"  href="http://www.openreview.net/forum?id={{openreview.forum}}">
           Reviews
       </a>

       <!-- {% if openreview.content.slides != blank %} -->
       <!-- <a href="{{openreview.content.slides}}" target="_blank"  class="card-link"> -->
       <!--   Slides -->
       <!-- </a> -->
       <!-- {% endif %} -->

       <!-- </div> -->

     <!-- <div class="text-center "> -->

       <a href="chat.html?room=channel/{{openreview.content.chat}}" target="_blank"  class="card-link">
           Chat
       </a>




     </div>

     <div class=" text-center text-muted text-monospace">
       {% for session in openreview.content.session %}
       <div> {{session}} {% if openreview.content.session_times[loop.index - 1] != None%} {{openreview.content.session_times[loop.index - 1]}} [<a href="" target="_blank"  class="card-link">Zoom Meeting</a>] {% endif %}
       </div>
       {% endfor %}
     </div>

   </div>

   </div>

 <div id="details" class="pp-card m-3 collapse">
   <div class="card-body">
     <p class="card-text">
       <div id="abstractExample">
         <span class="font-weight-bold">Abstract:</span>
         {{openreview.content.abstract}}
       </div>

     </p>

     <p></p>
     <p class="card-text"><span class="font-weight-bold">Keywords:</span>
       {% for keyword in openreview.content.keywords %}
       <a href="papers.html?filter=keywords&search={{keyword}}" class="text-secondary text-decoration-none">{{keyword}}</a>{{ "," if not loop.last }}
       {% endfor %}
     </p>
   </div>
 </div>

</div>

<!-- SlidesLive -->
 <div class="container" style="background-color:white; padding: 0px;">
  <div class="row m-2">
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <div id="presentation-embed-38915748" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed-38915748', {
        presentationId: '38915748',
        autoPlay: false, // change to true to autoplay the embedded presentation
        verticalEnabled: true,
        verticalWhenWidthLte: 2000,
        allowHiddenControlsWhenPaused: true,
        hideTitle: true
        });
      </script>
    </div>

    <div class="col-md-5 col-xs-12 p-2">
        <div id="gitter" class="slp">
          <center>
             <iframe frameborder="0" src="https://iclr.rocket.chat/channel/{{openreview.content.chat}}?layout=embedded" height="700px" width="100%" ></iframe>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Recs -->
  <p></p>


  <div  class="container" style="padding-bottom: 30px; padding-top:30px">
  <center>
    <h2> Similar Papers </h2>
</div>
<p></p>

<div  class="container" >
  <div class="row">

      {% for openreview in paper_recs %}
      <div class="col-md-4 col-xs-6">
        <div class="pp-card" >
          <div class="pp-card-header" class="text-muted">
            <a href="poster_{{openreview.content.iclr_id}}.html" class="text-muted">
              <h5 class="card-title" align="center">{{openreview.content.title}}</h5></a>
            <h6 class="card-subtitle text-muted" align="center">
              {% for a in openreview.content.authors %}
              {{a}},
              {% endfor %}
            </h6>

            <center><img class="cards_img" src="https://iclr.github.io/iclr-images/{{openreview.content.iclr_id}}.png" width="80%"/></center>
          </div>
        </div>
      </div>
      {% endfor %}
  </DIV>
</DIV>
    {% include 'pages/footer.html' %}
</body>
