<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="http://twitter.github.io/typeahead.js/css/examples.css"/>
    <title> ICLR Recommendations </title>
</head>

  <body >
    {% include 'pages/header.html' %}


    


    <div class="container">
      <div class="row">
        <div class="col-md">
          <h3> By Keyword </h3>
          <div id="the-basics">
            <input class="typeahead_keyword" type="text" placeholder="Keywords" width=400px>
          </div>
        </div>
        <div class="col-md">
          <h3> By Recommended</h3>
          <div id="the-basics">
            <input class="typeahead_author" type="text" placeholder="Recommendations" width=400px>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg">
          <h3> By Title</h3>
          <div id="the-basics">
            <input class="typeahead_title" type="text" placeholder="Title" width=500px>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js" integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/typeahead.bundle.js"></script>

    
    <script>
      $(document).ready(function(){
      // Defining the local dataset
      var authors = [
      {% for author in choices%}
      "{{author}}",
      {% endfor %}
      ];

      // Constructing the suggestion engine
      var authors = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: authors
      });

      // Initializing the typeahead
      $('.typeahead_author').typeahead({
      hint: true,
      highlight: true, /* Enable substring highlighting */
      minLength: 1 /* Specify minimum characters required for showing suggestions */
      },
      {
      name: 'authors',
      source: authors
      });
      });
      $('.typeahead_author').on('typeahead:selected', function(evt, item) {
      location.href = "recs_" + item + ".html";
      })

      $(document).ready(function(){
      // Defining the local dataset
      var keywords = [
      {% for keyword in keywords%}
      "{{keyword}}",
      {% endfor %}
      ];

      // Constructing the suggestion engine
      var keywords = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: keywords
      });

      // Initializing the typeahead
      $('.typeahead_keyword').typeahead({
      hint: true,
      highlight: true, /* Enable substring highlighting */
      minLength: 1 /* Specify minimum characters required for showing suggestions */
      },
      {
      name: 'keywords',
      source: keywords
      });
      });
      $('.typeahead_keyword').on('typeahead:selected', function(evt, item) {
      location.href = "keyword_" + item + ".html";
      })


      $(document).ready(function(){
      // Defining the local dataset
      var titles = [
      {% for title in titles%}
      "{{title}}",
      {% endfor %}
      ];

      // Constructing the suggestion engine
      var titles = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: titles
      });

      // Initializing the typeahead
      $('.typeahead_title').typeahead({
      hint: true,
      highlight: true, /* Enable substring highlighting */
      minLength: 1 /* Specify minimum characters required for showing suggestions */
      },
      {
      name: 'titles',
      source: titles
      });
      });
      $('.typeahead_title').on('typeahead:selected', function(evt, item) {
      location.href = "title_" + item + ".html";
      })

    </script>



  </body>
