<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/ >
    <link rel="stylesheet" href="static/css/typeahead.css" />
    <link rel="stylesheet" href="static/css/schedule.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/lazy_load.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/lazy_load.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"
      integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <!--    <script src="static/js/typeahead.bundle.js"></script>-->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js" ></script>
    <title> ICLR 2020: Schedule
    </title>
  </head>
  <body>
    <!-- NAV -->
    {% set active_page = "Schedule" %}
    {% include 'pages/header.html' %}
    <div class="container-lg" id="container" style="padding-top: 20px;">
      <div class="my-4" />
        <!-- Header -->
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link active text-muted " data-toggle="tab" href="#tab-calendar" role="tab" aria-controls="nav-home" aria-selected="true">Calendar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted " data-toggle="tab" href="#tab-Monday" role="tab" aria-controls="nav-home" aria-selected="true">Monday
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted"  href="#tab-Tuesday" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Tuesday
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-toggle="tab" href="#tab-Wednesday" role="tab" aria-controls="nav-home" aria-selected="true">Wednesday
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-toggle="tab" href="#tab-Thursday" role="tab" aria-controls="nav-home" aria-selected="true">Thursday
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-toggle="tab" href="#tab-expo" role="tab" aria-controls="nav-home" aria-selected="true">Expo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" data-toggle="tab" href="#tab-coc" role="tab" aria-controls="nav-home" aria-selected="true">Code of Conduct
            </a>
          </li>

        </ul>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <!-- Calender Tab -->
          
          <div class="tab-pane active" id="tab-calendar" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="my-3"></div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="form-group col">
                    <label for="tzOptions">Select timezone:</label>
                    <select id="tzOptions" class="selectpicker"
                      data-live-search="true">
                    </select>
                  </div>
                  <div style="margin-left:auto" class="text-right col">
                    <a href="webcal://iclr.github.io/iclr-images/calendars/iclr.ics" class="text-muted "> Download Calendar</a>
                  </div>
                </div>
                <div class="row main-table">
                </div>
              </div>
            </div>
          </div>
          <script src="static/js/schedule.js"></script>
          <script>
            $(document).ready(function(){
              lazyLoader();
              start();
            })
          </script>
          <!-- Daily  -->
          {% for base in days %}
          <div class="tab-pane fade" id="tab-{{base.day}}" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="border-top my-4" id="{{base.day}}"></div>
            <div class="row p-4">
              <div class="col-12 bd-content ">
                <h2 class="text-center"> {{base.day}}</h2>
              </div>
            </div>
            <!-- Speakers -->
            <div class="speakers">
              {% for speaker in base.speakers %}
              <div class="row p-4">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-2 col-sm-5">
                          <img data-src="{{speaker.image}}" width="100%" class="img-thumbnail lazy-load-img">
                        </div>
                        <div class="col-md-10 col-sm-6">
                          <div class="m-3 text-muted ">
                            <h3>
                              <a href="speaker_{{speaker.id}}.html" class="main-title">
                              {{speaker.title}}
                              </a>
                            </h3>
                          </div>
                          <div class="m-3 text-muted ">
                            <span class="card-title h3 " >
                            {{speaker.speaker}}  /  {{speaker.institution}}
                            </span>
                          </div>
                          <div class="m-3 ">
                            {{speaker.abstract}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Session -->
            <div class="sessions">
              {% for s in base.section %}
              <div class="row p-3">
                <h3><a class="text-muted" href="papers.html?session={{base.day}}: {{s.theme}}">Orals/Spotlights: {{s.theme}}</a></h3>
              </div>
              <div class ="row my-auto mx-auto">
                <div id="carouselExample{{base.day}}{{loop.index}}" class="carousel slide d-none d-md-block" data-interval="false">
                  <div class="carousel-inner cards" role="listbox">
                    {% for openreview in s.papers %}
                    {% if loop.index % 3 == 1 %}
                    <div class="carousel-item {% if loop.index == 1%} active{% endif %}">
                      {% endif %}
                      <div class="col-md-4 col-xs-6  fluid">
                        <div class="pp-card">
                          <div class="pp-card-header">
                            <a href="poster_{{openreview.content.iclr_id}}.html"
                              class="text-muted">
                              <h5 class="card-title" align="center"> {{openreview.content.title}} </h5>
                            </a>
                            <h6 class="card-subtitle text-muted" align="center">
                              {% for a in openreview.content.authors %}
                              {{a}},
                              {% endfor %}
                            </h6>
                            <center><img class="cards_img lazy-load-img" data-src="https://iclr.github.io/iclr-images/{{openreview.content.iclr_id}}.png" width="80%"/></center>
                          </div>
                        </div>
                      </div>
                      {% if loop.index % 3 == 0 or loop.index == loop.length %}
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExample{{base.day}}{{loop.index}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExample{{base.day}}{{loop.index}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Posters -->
            <div class="posters">
              <div class="row p-3">
                <h3> Poster Sessions</h3>
              </div>
              {% for i in base.sessions %}
              <div class="row">
                <div class="col-12">
                  <h3 class="">
                    <a class ="text-muted" href="papers.html?session={{base.short}}+Session+{{loop.index}}">Session {{loop.index}} <span class="session_times">{{i}}</span></a>
                  </h3>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <div class="tab-panel fade" id="tab-expo" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="border-top my-4"></div>
            <div class="row p-4">
              <div class="col-12 bd-content ">
                <h2 class="text-center"> Expo</h2>
              </div>
            </div>

          </div>
          
          <div class="tab-panel fade" id="tab-coc" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="border-top my-4"></div>
            <div class="row p-4">
              <div class="col-12 bd-content ">
                <h2 class="text-center"> Code of Conduct</h2>
              </div>
            </div>
            
            <p><span><span><span><span><span>The open exchange of ideas, the freedom of thought and expression, and respectful scientific debate are central to the goals of this conference on machine learning; this requires a community and an environment that recognizes and respects the inherent worth of every person.</span></span></span></span></span></p>

            <h3><span><span><span><span><span>Who</span></span></span></span></span></h3>

            <p><span><span><span><span><span>All participants---attendees, organizers, reviewers, speakers, sponsors, and volunteers at our conference, workshops, and conference-sponsored social events---are required to agree with this Code of Conduct both during the event and on official communication channels, including social media. Organizers will enforce this code, and we expect cooperation from all participants to help ensure a safe and productive environment for everybody.</span></span></span></span></span></p>

            <h3>Scope</h3>

            <p>The conference commits itself to provide an experience for all participants that is free from harassment, bullying, discrimination, and retaliation. This includes offensive comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), politics, technology choices, or any other personal characteristics. Bullying, intimidation, personal attacks, harassment, sustained disruption of talks or other events, and behavior that interferes with another participant&#39;s full participation will not be tolerated. This includes sexual harassment, stalking, following, harassing photography or recording, inappropriate physical contact, unwelcome sexual attention, public vulgar exchanges, and diminutive characterizations, which are all unwelcome in this community.</p>

            <p>The expected behaviour in line with the scope above extends to any format of the conference, including any virtual forms, and to the use of any online tools related to the conference. These include comments on OpenReview within or outside of reviewing periods, conference-wide chat tools, Q&amp;A tools, live stream interactions, and any other forms of virtual interaction. Trolling, use of inappropriate imagery or videos, offensive language either written or in-person over video or audio, unwarranted direct messages (DMs), and extensions of such behaviour to tools outside those used by the conference but related to the conference, its program and attendees, are not allowed. In addition, doxxing or revealing any personal information to target any participant will not be tolerated.</p>

            <p>Sponsors are equally subject to this Code of Conduct. In particular, sponsors should not use images, activities, or other materials that are of a sexual, racial, or otherwise offensive nature. Sponsor representatives and staff (including volunteers) should not use sexualized clothing/uniforms/costumes or otherwise create a sexualized environment. This code applies both to official sponsors as well as any organization that uses the conference name as branding as part of its activities at or around the conference.</p>

            <h3>Outcomes </h3>

            <p>Participants asked by any member of the community to stop any such behavior are expected to comply immediately. If a participant engages in such behavior, the conference organizers may take any action they deem appropriate, including: a formal or informal warning to the offender, expulsion from the conference (either physical expulsion, or termination of access codes) with no refund, barring from participation in future conferences or their organization, reporting the incident to the offender&rsquo;s local institution or funding agencies, or reporting the incident to local law enforcement. A response of &quot;just joking&quot; will not be accepted; behavior can be harassing without an intent to offend. If action is taken, an appeals process will be made available.</p>

            <h3>Reporting</h3>

            <p>If you have concerns related to your inclusion at that conference, or observe someone else&#39;s difficulties, or have any other concerns related to inclusion, please email our <a href="http://iclrhotline@gmail.com">ICLR Hotline</a>.&nbsp; For online events and tools, there are options to directly report specific chat/text comments, in addition to the above reporting. Complaints and violations will be handled with discretion. Reports made during the conference will be responded to within 24 hours; those at other times in less than two weeks. We are prepared and eager to help participants contact relevant help services, to escort them to a safe location, or to otherwise assist those experiencing harassment to feel safe for the duration of the conference. We gratefully accept feedback from the community on policy and actions; please contact us.</p>
            
          </div>

        </div>
        
    </div>
    
    </div>
    {% include 'pages/footer.html' %}
  <script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

  </body>
</html>
