<!doctype html>
<html lang="en">
{% set page_title = "ICLR 2020 - Socials" %}
{% include 'pages/head.html' %}
<body>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"
        integrity="sha256-GBryZPfVv8G3K1Lu2QwcqQXAO4Szv4xlY4B/ftvyoMI="
        crossorigin="anonymous"></script>
<script type='text/javascript' src='static/js/ical.js'></script>
<script type='text/javascript' src='static/js/calendar.js'></script>
<script type='text/javascript' src='static/js/time-extend.js'></script>
<script type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/google-calendar/main.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"
        integrity="sha256-q57s73NpMCTQ4ZXqb1X5bIywrICySeB6WvYxFGfz/PA="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/moment/main.min.js"
        integrity="sha256-iCYfw93enxd8O5zz/jL4UamQ8bgrUfidO4C5500RSd4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/moment-timezone/main.min.js"
        integrity="sha256-dKFu7AO+UtXuSvj3RwvCOovdKT3ScgGqzOcZ77QNwbg="
        crossorigin="anonymous"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css"
      integrity="sha256-auNBxJ+1OpvUJfYRsPihqLzJFUM9D3gpb8nOh5v0LiM="
      crossorigin="anonymous"/>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css"
      integrity="sha256-Lfe6+s5LEek8iiZ31nXhcSez0nmOxP+3ssquHMR3Alo="
      crossorigin="anonymous"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css"
      integrity="sha256-saO3mkZVAcyqsfgsGMrmE7Cs/TLN1RgVykZ5dnnJKug="
      crossorigin="anonymous"/>


<!-- NAV -->
{% set active_page = "Socials" %}
{% include 'pages/header.html' %}

<div class="container">
    <div class="row p-4">
        <div class="col-12 bd-content ">
            <h2 class="text-center"> Socials </h2>
        </div>
    </div>
    <div id="calendar">
    </div>

    <script type='text/javascript'>
        make_cal("static/basic.ics")
    </script>


    <div class="cards row">
        {% for social in socials %}
        <div class="col-md-6 col-sm-12 p-3"
             id='{{social.name|replace(" ", "_")|replace("?", "")}}'
             style="box-sizing: border-box;">
            <div class="card"
                 style="display:block; overflow:hidden; width:100%;">
                <div class="card-header text-center"
                     style="min-height: 400px; width:100%;">
<!--                    <a class="text-muted" href="#">-->
                        <h3 class="card-title">
                            {{social.name}}
                        </h3>
<!--                    </a>-->
                    <div class="card-subtitle text-muted">
                        {{social.organizers}}
                    </div>
                    <div class="m-4">
                        {% if social.image %}
                        <img height="100"
                             src="https://iclr.github.io/iclr-images/socials/{{social.image}}"/>
                        {% else %}
                        <img height="100"
                             src="https://iclr.github.io/iclr-images/socials/ICLR_social_temp.png"/>
                        {% endif %}
                    </div>
                    <div class="p-3 text-left card-subtitle text-muted">

                        <p>{{social.description|safe}}</p>
                        <br/>
                        <div class="text-center text-muted text-monospace">
                            {% for s in social.times %}

                            <p>{{social.day[loop.index-1]}}  <span class="session_times"> ({{s}})</span> [<a href="{{social.links[loop.index-1]}}" target="_blank">Live</a>] </p>
                            {% endfor %}
                        </div>

                        <p class="text-center text-muted card-title">
                            <a href="chat.html?room=channel/social_{{social.id}}" target="_blank"> Chat </a>
                            {% if social.website %}
                            | <a href="{{social.website}}" target="_blank"> Website </a>
                            {% endif %}
<!--                            {% if social.links %}-->
<!--                            {% for l in social.links %}-->
<!--                            | <a href="{{l}}" target="_blank"> Live ({{social.day[loop.index-1]}}) </a>-->
<!--                            {% endfor %}-->
<!--                            {% endif %}-->


                        </p>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(() => {
        add_local_tz('.session_times');
    })
</script>

{% include 'pages/footer.html' %}
</body>
</html>
