<!DOCTYPE html>
<html lang="en">
  {% set page_title = "ICLR: " + info.title %}
  {% include 'pages/head.html' %}
  <body>
    <!-- NAV -->
    {% set active_page = "Calendar" %}
    {% include 'pages/header.html' %}
    <div class="container">
      <!-- Title -->
      <div class="pp-card m-3" style="">
        <div class="card-header">
          <h2 class="card-title main-title text-center" style="">
            {{info.title}}
          </h2>
          <h3 class="card-subtitle mb-2 text-muted text-center">
            {{info.speaker}} / {{info.institution}}
          </h3>
          <div class="text-center p-3">
            <a class="card-link" data-toggle="collapse" role="button" href="#details">
            Abstract & Bio
            </a>
          </div>          
        </div>
      </div>
      <div id="details" class="pp-card m-3 collapse">
        <div class="card-body">
          <p class="card-text">
          <div id="abstractExample">
            <span class="font-weight-bold">Abstract:</span>
            {{info.abstract|safe}} <br><br>

            <span class="font-weight-bold">Bio:</span>
            {{info.bio}}
          </div>
          </p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- SlidesLive -->
    <div class="container" style="background-color:white; padding: 0px;">
      <div class="row m-2">
        <div class="col-md-12 col-xs-12 my-auto p-2" >
          <div id="presentation-embed-{{info.slides_link}}" class="slp my-auto"></div>
          <script src='https://slideslive.com/embed_presentation.js'></script>
          <script>
            embed = new SlidesLiveEmbed('presentation-embed-{{info.slides_link}}', {
            presentationId: '{{info.slides_link}}',
            autoPlay: false, // change to true to autoplay the embedded presentation
            verticalEnabled: true,
            allowHiddenControlsWhenPaused: true,
            hideTitle: true
            });
          </script>
        </div>

    <div  id="stream" class="container" style="padding-bottom: 30px; padding-top:30px">
      
        <center>
          <h2>

            Question and Answer Session
          </h2>

        </center>


        
        </div>
        <div class="col-md-12 col-xs-12 my-auto p-2" >
          <div id="presentation-embed-{{info.qa_link}}" class="slp my-auto"></div>
          <script src='https://slideslive.com/embed_presentation.js'></script>
          <script>
            embed = new SlidesLiveEmbed('presentation-embed-{{info.qa_link}}', {
            presentationId: '{{info.qa_link}}',
            autoPlay: false, // change to true to autoplay the embedded presentation
            verticalEnabled: true,
            <!-- verticalWhenWidthLte: 2000, -->
            allowHiddenControlsWhenPaused: true,
            hideTitle: true
            });
          </script>
        </div>

        <!-- <div class="col-md-7 col-xs-12 my-auto p-2" > -->
        <!--   <div id="presentation-embed-{{info.qa_link}}" class="slp my-auto"></div> -->
        <!--   <script src='https://slideslive.com/embed_presentation.js'></script> -->
        <!--   <script> -->
        <!--     embed = new SlidesLiveEmbed('presentation-embed-{{info.qa_link}}', { -->
        <!--     presentationId: '{{info.qa_link}}', -->
        <!--     autoPlay: false, // change to true to autoplay the embedded presentation -->
        <!--     verticalEnabled: true, -->
        <!--     verticalWhenWidthLte: 2000, -->
        <!--     allowHiddenControlsWhenPaused: true, -->
        <!--     hideTitle: true -->
        <!--     }); -->
        <!--   </script> -->
        <!-- </div> -->
      </div>

      
    </div>
    {% include 'pages/footer.html' %}
  <script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

  </body>
</html>
