<!doctype html>
<html lang="en">

{% set page_title = "ICLR 2020 - Speakers" %}
{% include 'pages/head.html' %}

<body>
  <!-- NAV -->
  {% set active_page = "Speakers" %}
  {% include 'pages/header.html' %}

  <div class ="container">
    {% for speaker in speakers %}
    <div class="row">
      <div class="col-12 m-3 ">
        <div class="card">
          <div class="card-body
            <div class="container">
              <div class="row">
                <div class="col-2  ">
                  <img src="{{speaker.image}}" width="100%">
                </div>

                <div class="col-10">
                  <h3 class="card-title">
                    {{speaker.speaker}}
                  </h3>
                  {{speaker.institution}}

                  <h4>
                    {{speaker.title}}
                  </h4>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
