<!doctype html>
<html lang="en">

{% set page_title = "ICLR 2020 - Sponsors" %}
{% include 'pages/head.html' %}

<body>
  <!-- NAV -->
  {% set active_page = "Sponsors" %}
  {% include 'pages/header.html' %}

    <div class="container">
    <div class="row p-4">
      <div class="col-12 bd-content ">
        <h2 class="text-center"> Booths </h2>

        <h3 class="text-center" ><a target="_blank" href="https://iclr.6connex.com/event/VirtualEvent/">Sponsor Directory</a> </h3>

      </div>
    </div>


    {% for section in sponsors %}
    <div class="row p-3">
      <div class="col-12 bd-content ">
        <h3 class=""> {{section.tier}} </h2>
      </div>
    </div>
    <div class="row justify-content-start">
    {% set rowloop = loop.index %}
      {% for sponsor in section.vals %}
      <div class="col-lg-4 col-md-6 col-xs-12 p-2" style="display: flex;flex-flow:wrap; margin-left:0; box-sizing: border-box;">
        <div class="card "style="display:block; overflow:hidden; width:100%;">
          <div class="card-header d-flex flex-wrap justify-content-center align-items-center" style="height: {{section.height}}px; background-color:white;">
              <a  target="_blank" href="https://iclr.6connex.com/event/VirtualEvent/"><img src="{{sponsor.img_src}}" style="width:{{sponsor.size}};" class="sponsorLogo" alt="{{sponsor.name}}" /></a>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
    </div>
  </div>

</body>
