<!doctype html>
<html lang="en">

{% set page_title = "ICLR 2020 - Workshops" %}
{% include 'pages/head.html' %}

<body>
  <!-- NAV -->
  {% set active_page = "Workshops" %}
  {% include 'pages/header.html' %}

  <div class="row p-4">
    <div class="col-12 bd-content ">
      <h2 class="text-center"> Workshops </h2>
    </div>
  </div>

  <div class ="container">
    <div class="cards row">
    {% for workshop in workshops %}
    <div class="col-6 p-3" style="display: flex;flex-flow:wrap; margin-left:0; box-sizing: border-box;">
      <div class="card" style="display:block; overflow:hidden; width:100%;">
        <div class="card-header text-center" style="height: 150px; width:100%;">
          <a class="" href="{{workshop.website}}">
          <h5 class="card-title">
            {{workshop.name}}
          </h5>
          </a>
          <div class="card-subtitle text-muted">
            {{workshop.organizers}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
