.dot {
    r:5;
    fill: rgba(43, 113, 255, 0.54);
    transition-duration: .2s;
}

.dot.highlight{
    r:8;
    fill: rgb(255, 54, 72);
}
.dot.non-highlight{
    fill: rgba(128, 128, 128, 0.62);
}

.tt-title {
    font-weight: bold;
}
